[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=bash /home/aarik/Desktop/mountmedia/mountinit.sh
Icon=/home/aarik/Desktop/mountmedia/hdd.png
Categories=Settings;Accessories;
Name=Mount Media
